.main {
    width: 1080px;
    height: 500px;
    border: solid black 2px;
    border-radius: 5px;
    margin: auto;
}
h1 {
    text-align: center;
    border-bottom: dotted royalblue 1px;
    height: 8vh;
    margin: 0px;
    background-color: mistyrose;
}
h2 {
    text-indent: 5vw;
    height: 7vh;
    margin: 0px;

}
canvas {
    background-color: lightblue;
    margin: 0px;
    border-bottom:solid black 1.5px ;
    
}

@media (max-width : 800px) {
    .main {
        width: 540px;
        height: 450px;
    }
    canvas {
        width: 540px;
        height: 300px;
    }
}
